[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-dotenv = "*"
pillow = "*"
django-filter = "*"
django-ckeditor = "*"
django-ckeditor5 = "*"
django-import-export = "*"
django-crispy-forms = "*"
django-mathfilters = "*"
django-taggit = "*"
django-ckeditor-updated = "*"
django-ckeditor-5 = "*"
shortuuid = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.12"
